:root {
    --main-background: black;
    --main-font: 'Josefin Sans', sans-serif;
    --akzente: #e0a800;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {}

.overlay {
    position: fixed;

    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.99);
    transition: ease-out .2s;
    z-index: 1001;
    overflow-x: hidden;
}

.overlayShow {
    width: 100% !important;
    //height: 100%;
    //position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    //height: 2000px;
    //z-index: 1001;
}

.overlayInner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-height: 700px;
}

.empty {
    width: 33.33%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: var(--main-font);
    font-weight: 400;
    padding: 5px 0;
    line-height: 2.6rem;
    margin: 0 auto;
    width: 350px;
}

h2 {
    font-size: 1.4rem;
    padding: 5px 0;
    font-family: 'Caveat', cursive;
    color: #e0e0e0;
    text-shadow: 0 0 1px black;
    text-align: center;
}

h3 {
    font-family: var(--main-font);
    font-weight: 400;
    text-align: center;
    font-size: 1.6rem;
    width: 70%;
    width: 280px;
    color: red;
    margin: 20px auto;
    color: black;
}

h4 {
    color: black;
    font-size: 1.4rem;
    font-family: var(--main-font);
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
}

.smDa {
    color: #000000;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 300;
    margin: 5px 0;
}

.bigBr {
    color: white;
    font-size: 3.2rem;
    font-family: var(--main-font);
}

.smBr {
    font-size: 1.2rem;
    font-family: var(--main-font);
    font-weight: 300;
    line-height: 1.7rem;
    color: rgba(255, 255, 255, 0.85);
    margin: 18px 0 30px 0;
    min-width: 200px;
    max-width: 280px;
    //font-family: "Open Sans", sans-serif;
}


#header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("innenDark.jpeg");
    //background-position: 0 -60px;
    //padding: 150px 0 60px 0;
}

.navigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);

    display: flex;
    justify-content: center;

    height: 80px;
    //transition: .5s;
    //padding: 10px 0;
    transition: 1s;
}

.navigationBarInner {
    display: flex;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    //background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 0px;
}

.navigationBarScrolled {
    background-color: rgba(0, 0, 0, 0.80);
    //box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    //background-color: rgba(0, 0, 0, 0.00);
    //height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
    //padding: 5px;
    opacity: 1;
    transition: 1s;
}

.navigationBarInnerScrolled {
    transition: 1s;
    //background-color: rgba(0, 0, 0, 0.80);
    //box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

#brand {
    height: 100%;
    width: 33.33%;

    display: flex;
    justify-content: center;
}

#navigationMenu {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    height: 100%;
}

.hamburgerMenu {
    background-color: rgba(0, 0, 0, 0.60);
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    height: 50px;
    transition: .2s;
}

.hamburgerMenu:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.hamburgerMenuScrolled {
    background-color: rgba(0, 0, 0, 0);
}

ul {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    display: none;
}

li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 20px;
}

.hamburgerMenuLine {
    height: 1.5px;
    width: 32px;
    background-color: white;
    border-radius: .75px;
    margin: 4px auto;
}


.hmlTransform1 {
    //transform: rotate(45deg);
    position: absolute;
    height: 2px;
    width: 38px;
    background-color: white;
    border-radius: 1px;
    margin: 10px;
    transition: .2s;
}

.hmlTransform2 {
    //transform: rotate(-45deg);
    position: absolute;
    height: 2px;
    width: 38px;
    background-color: white;
    border-radius: 1px;
    margin: 10px;
    transition: .2s;
}

.closeButton {
    position: absolute;
    top: 0px;
    right: 0px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 20px;

    width: 50px;
    height: 50px;

    cursor: pointer;
    z-index: 1;
}

.overlay {
    font-family: var(--main-font);


}

.overlayNavigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    position: relative;

    height: 58%;
}

.overlayBrand {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 12%;
    height: 95px;
}

.overlayNavigation a {
    font-size: 2rem;
    margin: 15px;
    cursor: pointer;

    color: rgba(255, 255, 255, 0.85);
}

.overlayFooter {
    color: rgba(255, 255, 255, 0.85);
    //padding: 20px 0;
    width: 100%;

    height: 30%;
}

.overlayFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 330px;
    color: rgba(255, 255, 255, 0.86);
}

.overlayFooterSocial .fa-brands {
    font-size: 2.5rem;
    margin: 0 5px;
}

.overlayFooterLine {
    height: 1px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.55);
    margin: 15px auto;
}

.overlayFooterMore {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.overlayFooterMore span {
    margin: 5px auto;
    font-weight: 400;
}

.headerInformation {
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 180px 0 100px 0;
    background-size: 50px;
}

#headerBottom {
    width: 100%;
    padding: 10px 0;
    //height: 80px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerBottomPart {
    font-family: 'Josefin Sans', sans-serif;
    font-family: arial;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    margin: 0 30px;

    display: flex;
}

.headerBottomText {
    display: flex;
    align-items: center;
    margin: 0 2px;
    color: #d0d0d0;
}

.line {
    height: 2px;
    width: 50px;
    background-color: black;
    margin: 0px auto 50px auto;
}

.content {}

.reveal {
    position: relative;
    //transform: translateY(150px);
    opacity: 0;
    transform: rotate(40deg);
    transition: transform opacity 2s all ease;
}

.reveal.active {
    //transform: translateY(0);
    transform: rotate(0deg);
    opacity: 1;
    transition: transform 2s, opacity 2s;
}

.testBlack {
    width: 100%;
    height: 200px;
    background-color: red;
}

/*
.moveUpReveal {
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 2s;
} */


.moveUpReveals {
    opacity: 0;
    transform: translateY(200px);
}

.moveUpReveals.active {
    opacity: 1;
    transform: translateY(0px);
    transition: ease 0.6s;
}

#content-1 {
    padding: 20px 0;

    background-color: #ebebeb;
    //background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");

    //background-color: #fffcfc;
    //background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

#content-2 {
    background-color: var(--main-background);
    background-image: url("innenPaintTest.png");

    background-position: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    //display: flex;
    //justify-content: center;
}

.content-2-menu {
    width: 85%;
    max-width: 1300px;
    //height: 400px;
    padding: 60px 40px;
    display: flex;
    justify-content: center;
}

.content-2-image {
    display: none;
}

.clickBox {
    color: white;
    border: solid 1px white;
    padding: 10px 0;
    font-size: 1rem;
    font-family: var(--main-font);
    //display: inline-flex;
    display: flex;
    justify-content: center;
    width: 150px;
}

.headerInformation .clickBox {
    margin: 20px auto;
    font-size: 1rem;
    width: 160px;
}

.clickBox:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.card {
    position: relative;
    margin: 0 auto 60px auto;
    //padding: 10px;
    max-width: 330px;
    //background-color: rgba(157, 157, 157, 0.04);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardImage {
    position: relative;
    height: 230px;
    width: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 45px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.44);
}

.cardIcon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: #760000;
    z-index: 100;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    text-shadow: 0 0 1px black;
    display: none;
    //REMOVE
}

.textLine {
    height: 2px;
    background-color: black;
    margin: 20px 0;
    width: 60px;
    border-radius: 1px;
    display: none;
}

.cardText {
    padding: 0px;
    //margin: 20px 0;
}

.cardImage-1 {
    background-image: url(lamp.jpeg);
}

.cardImage-2 {
    background-image: url(food.jpeg);
}

.cardImage-3 {
    background-image: url(198152487_443294453586788_4063078726020976003_n.jpeg);
}

#content-3 {
    //display: flex;
    //justify-content: center;
    //padding: 80px 0;
    padding: 40px 0 100px 0;
}

#content-3-text {
    //width: 50%;
}

#content-3-image {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    padding: 5px;

    border: solid 1px #cecece;
    max-width: 500px;
}

.image1 {
    width: 70%;
    height: 100px;
    margin: 0 4px 0 0;
    background-image: url(food.jpeg);
    background-size: cover;
    background-position: center;

    box-shadow: 2px 2px 5px #b5b5b5;
}

.image2 {
    width: 30%;
    height: 100px;
    margin: 0 0 0 4px;

    background-image: url(198152487_443294453586788_4063078726020976003_n.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 5px #b5b5b5;
}



/*
#content-3-image-wrapper {
    //width: 50%;
}

#content-3-image-box {
    //height: 100%;
    //width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content-3-image-1 {
    width: 48.5%;
    min-width: 100px;
    height: 68.5%;
    min-height: 140px;
    background-image: url(198152487_443294453586788_4063078726020976003_n.jpeg);
    background-size: cover;
    margin: .75%;
}

.content-3-image-2 {
    width: 48.5%;
    min-width: 100px;
    height: 28.5%;
    min-height: 60px;
    background-image: url(food.jpeg);
    background-size: cover;
    margin: .75%;
}

.content-3-image-3 {
    width: 48.5%;
    min-width: 100px;
    height: 28.5%;
    min-height: 60px;
    background-image: url(lamp.jpeg);
    background-size: cover;
    margin: .75%;
}

.content-3-image-4 {
    background-image: url(198152487_443294453586788_4063078726020976003_n.jpeg);
    background-size: cover;
    width: 48.5%;
    min-width: 100px;
    height: 68.5%;
    min-height: 140px;
    margin: .75%;
} */

/***** FOOTER *****/

#footer {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 0;
    background-color: var(--main-background);
    font-family: 'Merriweather Sans', sans-serif;
}

.footerHeadline {
    text-align: center;
    line-height: 2.5rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.3rem;
}

.footerBody {
    color: white;
    text-align: left;
    margin: 0px auto;
    color: #e2e2e2;
    //padding: 10px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footerColumn {
    text-align: center;
}

.footerContent {
    position: relative;
    width: 100%;
    margin: 20px auto;
}

.footerInformation {
    margin: 6px 0 0 0;

}

.footerInformation a {
    color: white;
}


.footerBottom {
    color: grey;
    margin: 5px 0;
    text-align: center;
}


.start {
    margin: 6px 0 0 0;
    width: 40%;
}

.end {
    margin: 6px 0 0 0;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.to {
    margin: 6px 0 0 0;
    width: 20%;
    display: flex;
    justify-content: center;
}

.open {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.openContainer {
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 220px;
    margin: 0 auto;

}

.socialLinkWrapper {
    display: flex;
    justify-content: center;
}

.socialLink {
    padding: 30px 5px 10px 5px;
}

.backToTop {
    color: white;
    position: fixed;
    bottom: 20px;
    right: -50px;
    z-index: 100;
    border-radius: 4px;
    transition: .2s;
    font-size: 1rem;

    border: solid 1px white;
    height: 46px;
    width: 46px;
    display: flex;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.backToTopScrolled {
    right: 20px;
}

.fab {
    color: white;
    font-size: 2rem;
}

.fa-solid {
    color: var(--akzente);
    margin: 0 5px;
    font-size: 1.2rem;
    display: none;
}

.fa-angle-up {
    color: white;
    font-size: 1.2rem;
}

.empty {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.loader-wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loader-wrapper > * {
    margin: 20px auto;
}

.loadImage {
    border-radius: 3px;
}

.line-wobble {
    --uib-size: 80px;
    --uib-speed: 1.55s;
    --uib-color: black;
    --uib-line-weight: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    border-radius: calc(var(--uib-line-weight) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.line-wobble::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--akzente);
    opacity: 0.1;
}

.line-wobble::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(var(--uib-line-weight) / 2);
    animation: wobble var(--uib-speed) ease-in-out infinite;
    transform: translateX(-90%);
    background-color: var(--akzente);
}

@keyframes wobble {

    0%,
    100% {
        transform: translateX(-90%);
    }

    50% {
        transform: translateX(90%);
    }
}








/******* PHONE ******/
@media only screen and (max-width: 600px) {
    #headerBottom {
        display: none;
    }
}

@media (min-width: 800px) {
    #content-1 {
        padding: 20px 0;
    }

    .cardBox {
        display: flex;
    }

    .bigBr {
        font-size: 4.2rem;
    }

    .smDa {
        font-size: 1.2rem;
    }

    .card {
        border: none;
    }

    .navigationBar {
        height: 100px;
        padding: 5px;
        position: absolute;
    }

    .navigationBarScrolled {
        position: absolute;
    }


    .navigationBarInner {
        width: 90%;
        max-width: 1200px;
        padding: 0;
    }



    .hamburgerMenu {
        display: none;
    }

    #brand {
        justify-content: flex-start;
        width: 50%;
    }

    #navigationMenu {
        justify-content: flex-end;
        width: 50%;
    }

    ul {
        display: flex;
    }

    #content-2 {
        display: flex;
        align-items: center;
        height: 620px;

        background-position: 150%;
        background-size: 55%;
        background-attachment: fixed;
    }


    .content-2-menu {
        margin: 0 auto;
    }

    .content-2-image,
    .content-2-text {
        display: block;
        width: 50%;
        position: relative;

        box-sizing: border-box;

        max-width: 400px;
        margin: 0 30px 0 30px;
    }

    .content-2-image {}

    .imageBox {
        position: absolute;
        top: 0px;
        left: 20px;
        border: solid 2px white;
        width: 250px;
    }

    .imageBox1 {
        position: absolute;
        bottom: 0px;
        right: 10px;
        border: solid 2px white;
        width: 250px;
        cursor: pointer;
    }

    #header {
        background-position: 0px -300px;
        background-attachment: fixed;
    }
}

@media (min-width: 1100px) {
    /***** NAVIGATION BAR *****/

    .empty {
        display: none;
    }

    h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 0 auto;
        width: 900px;
        padding: 20px;
    }

    h2 {
        padding: 20px;
        font-size: 2rem;
        line-height: 2rem;
    }

    h3 {
        font-size: 2.5rem;
        //width: 300px;
    }

    #header {
        background-color: black;
        background-repeat: no-repeat;
        background-image: url(innenTest.png);

        background-size: 1000px;
        background-position: 0px -300px;
        
        
        
        background-size: 50%;
        background-position: 0, 50%;
        
        background-attachment: fixed;
        height: 100vh;
        min-height: 500px;
        max-height: 800px;
        animation: headerZoom 30s;
    }
    
    @keyframes headerZoom {
  from {
      background-size: 40%;
      background-position: 0, 40%;
    }
  to {
      background-size: 50%;
      background-position: 0, 50%;
    }
}

    .headerInformation {
        height: 100%;
    }

    #content-1 {
        padding: 70px 0 50px 0;
    }

    .cardBox {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 85%;
        max-width: 1400px;
    }

    .cardImage {
        width: 300px;
        height: 300px;
    }

    .footerBody {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        width: 100%;
    }

    .footerColumn {
        width: 33.33%;
    }
}
