* {
    padding: 0;
    margin: 0;
}

body {

    //background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
}

.overlay {
    position: absolute;
    right: 0;

    background-color: rgba(0, 0, 0, 0.99);
    width: 0;
    top: -5;
    height: 105%;

    z-index: 1000;
    transition: ease-out .2s;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
}

.overlayShow {
    width: 100% !important;
    //height: 100%;
    position: fixed;
}


.empty {
    width: 33.33%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    padding: 5px 0;
    line-height: 2.6rem;

}

h2 {
    font-size: 1.4rem;
    text-align: center;
    padding: 5px 0;
    font-family: 'Caveat', cursive;
    color: #e0e0e0;
    text-shadow: 0 0 1px black;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.6rem;
    width: 70%;
    margin: 0 auto;
    color: black;
}

h4 {
    color: black;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
}

.smDa {
    color: #000000;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    width: 70%;
    margin: 5px 0;
}

.bigBr {
    color: white;
    font-size: 3.2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.smBr {
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    line-height: 1.3rem;
    color: rgba(255, 255, 255, 0.95);
    margin: 15px 0 30px 0;
}


#header {
    position: relative;
    background-image: url(innenDark.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -80px;
    //padding: 150px 0 60px 0;
    z-index: 0;
}

.navigationBar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    transition: .6s;
}

.navigationBarScrolled {
    background-color: rgba(0, 0, 0, 0.80);
    height: 65px !important;
    position: fixed;
    top: 0;
}

#brand {
    height: 75%;
    width: 33.33%;

    display: flex;
    justify-content: center;
    margin: 10px;
}

#navigationMenu {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

#hamburgerMenu {
    background-color: rgba(0, 0, 0, 0.60);
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 80px;
}

#hamburgerMenu:active {
    background-color: #000000;
}

.hamburgerMenuLine {
    height: 1.5px;
    width: 34px;
    background-color: white;
    border-radius: .75px;
    margin: 5px auto;
}

.hmlTransform1 {
    //transform: rotate(45deg);
    position: absolute;
    height: 2px;
    width: 38px;
    background-color: white;
    border-radius: 1px;
    margin: 10px;
    transition: .2s;
}

.hmlTransform2 {
    //transform: rotate(-45deg);
    position: absolute;
    height: 2px;
    width: 38px;
    background-color: white;
    border-radius: 1px;
    margin: 10px;
    transition: .2s;
}

.closeButton {
    position: absolute;
    top: 0px;
    right: 0px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 15px;

    width: 50px;
    height: 50px;

    cursor: pointer;
}

.overlayNavigation {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    position: relative;
    top: -50px;
}

.overlayBrand {
    position: relative;
    top: -100px;
    width: 100%;
    display: flex;
    justify-content: center;
}



.overlayNavigation a {
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    cursor: pointer;
}

#headerInformation {
    color: white;
    height: 300px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#headerBottom {
    width: 100%;
    height: 30px;
    position: sticky;
    top: 65px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 12px;
    margin: 0 auto;
}

.line {
    height: 2px;
    width: 50px;
    background-color: black;
    margin: 20px auto;
}

#content {}

#content-1 {
    padding: 30px;
    position: relative;
    z-index: -1;
    //background-image: linear-gradient(179.3deg, rgba(234, 234, 234, 1) 2.4%, rgba(255, 255, 255, 1) 92.3%);
    background-image: linear-gradient(180deg, rgb(245, 245, 245), 0%, rgb(149, 82, 82) 50%, rgb(245, 245, 245) 100%);
    background-image: linear-gradient(179.7deg, rgba(255, 255, 255, 1) 2%, rgba(220, 220, 220, 1) 49.1%, rgba(255, 255, 255, 1) 102.3%);
    background-image: linear-gradient(180deg, rgb(245, 245, 245) 0%, rgb(232, 232, 232) 50%, rgba(255, 255, 255, 1) 100%);
    //background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(226, 226, 226) 100%);
    //background-color: rgb(245, 245, 245);
}

.darkBG {
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    z-index: -1;
}

#content-2 {
    background-color: black;
    background-image: url("innenPaintTest.png");

    background-position: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 150px 0;
}

.content-2-menu {
    width: 60%;
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: inline;
}

.clickBox {
    color: white;
    border: solid 1px white;
    padding: 10px 15px;
    display: inline-flex;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

.clickBox:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.card {
    margin: 0 0 60px 0;
    padding: 10px;
    border: solid 1px #dedede;
}

.cardImage {
    position: relative;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.cardIcon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: #760000;
    z-index: 100;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    text-shadow: 0 0 1px black;
    display: none;
    //REMOVE
}

.textLine {
    height: 2px;
    background-color: black;
    margin: 20px 0;
    width: 60px;
    border-radius: 1px;
}

.cardText {
    padding: 40px 0 0 0;
    //margin: 20px 0;
}

.cardImage-1 {
    background-image: url(lamp.jpeg);
}

.cardImage-2 {
    background-image: url(food.jpeg);
}

.cardImage-3 {
    background-image: url(198152487_443294453586788_4063078726020976003_n.jpeg);
}

/***** FOOTER *****/

#footer {
    position: relative;
    width: 100%;
    z-index: -1;
    padding: 20px 0 20px 0;
    background-color: black;
    font-family: 'Merriweather Sans', sans-serif;
}

.footerHeadline {
    text-align: center;
    line-height: 2.5rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.4rem;
}

.footerBody {
    color: white;
    text-align: left;
    margin: 0px auto;
    color: #e2e2e2;
    //padding: 10px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footerColumn {
    text-align: center;
}

.footerContent {
    position: relative;
    width: 100%;
    margin: 20px auto;
}

.footerInformation,
.start,
.to,
.end {
    margin: 6px 0 0 0;
}

.footerInformation a {
    color: white;
}

.open {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.openContainer {
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 220px;
    margin: 0 auto;

}

.socialLinkWrapper {
    display: flex;
    justify-content: center;
}

.socialLink {
    padding: 30px 5px 10px 5px;
}

.footerBottom {
    color: grey;
    margin: 5px 0;
    text-align: center;
}

.fab {
    color: white;
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {}

@media (min-width: 1200px) {
    /***** NAVIGATION BAR *****/

    .empty {
        display: none;
    }

    #navigationMenu {
        justify-content: center;
    }

    .navigationBar {
        height: 120px;
    }

    h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 0 auto;
        width: 900px;
        padding: 20px;
    }

    h2 {
        padding: 20px;
        font-size: 2rem;
        line-height: 2rem;
    }

    h3 {
        font-size: 2.5rem;
        width: 300px;
    }

    #header {
        background-color: black;
        background-repeat: no-repeat;
        background-image: url(innenTest.png);
        background-size: 1000px;
        background-position: 0px -300px;
        background-attachment: fixed;
    }

    #headerInformation {
        height: 500px;
    }

    #content-1 {
        padding: 100px 0;
    }

    .darkBG {
        display: none;
    }

    .cardBox {
        display: flex;
        margin: 0 auto;
        width: 80%;
    }

    .card {
        margin: 20px;
    }

    #content-2 {
        background-position: 80%;
        background-size: contain;
        background-attachment: fixed;
    }

    .content-2-menu {
        width: 1000px;
        margin: auto;
    }

    .smBr {
        width: 80%;
    }

    .footerBody {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        width: 100%;
    }

    .footerColumn {
        width: 33.33%;
    }
}
