body {
	padding-top: 56px;
	font-family: serif;
}

.header {
	max-width: 1200px;
}

h1 {
	padding: 20px 0px 15px 0;
	font-family: arial;
}

h2 {
	margin-bottom: 25px;
	font-family: arial;
	font-size: 1.7rem;
}

#content {
	text-align: center;
	background-color: #e0e0e0;
}

.mealOuter {
	padding: 0 20px;
	max-width: 1300px;
}

.meal {
	background-color: white;
	border: solid 1px #c6c6c6;

	display: flex;
	flex-direction: column;
	margin: 0 3px 35px 3px;
	box-shadow: 0 8px 6px -6px #868686;
}

h4 {
	font-family: arial;
	margin: 10px 0;
	font-size: 1.6rem;
}

.mealHead {
	display: flex;
	justify-content: center;
	position: relative;
}

.mealHead-numberField {
	position: relative;
}

.mealHead-number {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	border-radius: 2px;
	font-family: arial;
	font-size: 1.8rem;
	position: absolute;
	left: -10px;
	top: -10px;
	height: 100%;

	width: 45px;
	height: 45px;
}

.mealHead-name {
	width: 70%;
}

.mealBody {
	padding: 0 .7rem;
	line-height: 1.2rem;
}

.mealFooter {
	padding: .5rem;
}

.price {
	background-color: #f4f4f4;
	padding: 3px 0;
	font-family: arial;
}

.navbar {
	box-shadow: 0 1px 5px #343434;
	margin-top: -1px; //?
}

.nav-item {
	margin-left: 20px;
}

.nav-link {
	text-align: center;
}

.col-lg-3 {
	flex-direction: column;
}
