body {
	font-family: serif;
	//background-color: #e3e3e3;
	text-align: center;
}

.header {
	max-width: 1200px;
}

h1 {
	font-family: arial;
	font-family: 'Poiret One', cursive;
	font-size: 5rem;
	color: white;
}

h2 {
	font-family: arial;
	font-size: 1.5rem;
	letter-spacing: 4px;
	margin: 0;
	color: white;
}

.bg {
	background-color: #333333;
	background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
	width: 100%;
	height: 500px;
	position: fixed;
	z-index: -100;
}

#content {}

.contentHeader {
	//background-color: #333333;
	//background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
	color: white;
	padding: 120px 0 60px 0;
}

.test {
	//background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
	background-color: #121212;
	//z-index: 100;
	border-bottom: dashed 1px #626262;
	//box-shadow: 0px 3px 3px #1a1a1a;
	//padding: 10px 0;
	font-family: arial;
	font-size: 1.2rem;
}

.mealOuter {
	max-width: 1200px;
	padding: 0;
	margin: 0px auto;
	z-index: 1;
}

.menu {
	background-color: #eaeaea;

	margin-bottom: 15px;
	padding: 12px;
	z-index: 1;
}

.hpress {
	/* width: 100%;
	border-radius: 0px;
	border: none;
	background-color: #272727;
	padding: 5px;
	font-size: 1.3rem; */
	width: 100%;
	font-family: arial;
	font-size: 1.5rem;
	padding: 4px 0;
	border-radius: 0;
	box-shadow: inset 0px 2px 2px #484848;
	border: none;
	border-radius: 2px;
}

.hpress:hover {
	background-color: #212121;
	box-shadow: inset 0px 2px 2px #676767;
}

.hpress:focus {
	box-shadow: inset 0px 2px 2px #484848;
}

.mealBox {
	position: relative;
	padding: 14px;
}

.meal {
	//background-color: #f0f0f0;
	background-color: white;
	//border: solid 1px #c6c6c6;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	//box-shadow: 0 8px 6px -6px #868686;
	box-shadow: 0 8px 6px -6px #bebebe;
	height: 100%;
	transition: 0.5s;
}

.row {
	--bs-gutter-x: 0;
	margin-top: 0px;
}

h4 {
	font-family: arial;
	margin: 10px 0;
	font-size: 1.5rem;
}

.mealHead {
	display: flex;
	justify-content: center;
	position: relative;
	//padding: 4px;
}

.mealHead-number {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	border-radius: 2px;
	font-family: arial;
	font-size: 1.6rem;
	position: absolute;
	padding: 5px;
	margin: 5px;
	//left: -10px;
	left: 0;
	top: 0;
	//height: 100%;
	height: 35px;
	background-color: #2e2e2e;
}

#collapseVorspeisen,
#collapseHauptspeise {
	padding: 5px 0 0 0;
}

.mealHead-name {
	width: 60%;
}

.mealBody {
	padding: 0 .9rem;
	line-height: 1.2rem;
}

.mealFooter {
	padding: .5rem;
}

.price {
	background-color: #f4f4f4;
	padding: 3px 0;
	font-family: arial;
}

.nav-item {
	margin-left: 20px;
}

.nav-link {
	text-align: center;
}
