.belowHeader {
    width: 100%;
    height: 120px;
    display: flex;
    column-gap: 3px;
    padding: 3px 0;

    margin: 0px auto;

    position: relative;

    background-color: black;
    opacity: 1;
}

.bh-element {
    //background-color: red;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

    //background-image: url("../198152487_443294453586788_4063078726020976003_n.jpeg");
    color: white;
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.8rem;
    overflow: hidden;
}

.ambiente {
    background-image: url("../innen.jpeg");
}

.menu {
    background-image: url("../food.jpeg");
}

.drinks {
    background-image: url("../198152487_443294453586788_4063078726020976003_n.jpeg");
}

.kontakt {
    background-image: url("../puTaiLogo.jpg");
}

.backgroundText {
    font-family: var(--main-font);
    color: rgba(0, 0, 0, 0.03);
    font-size: 28rem;
    position: fixed;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.fromDark {
    opacity: 0;
    transition: 10s;
}

.fromDark.active {
    opacity: .6;
}

.content-divider {
    width: 60%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}



#newMenuOfTheDayWrapper {
    position: relative;
    background-color: rgba(232, 232, 232, 0.35);
    padding: 10px;
}

.newMenuOfTheDay {
    position: relative;
    padding: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-family: var(--main-font);
    font-weight: 300;
    line-height: 25px;
}

.newMenuOfTheDayTop {
    position: relative;
    z-index: 1;
    color: white;

    max-width: 400px;
}

.newMenuOfTheDayTop h6 {}

.middleImage {
    border: solid 1px white;
    height: 250px;
    margin: 0 auto;
    background-image: url("../food.jpeg");
    background-size: cover;

    position: relative;
    z-index: 1;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
}

.newMenuOfTheDayBottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

    max-width: 400px;
}

.dateHolder {
    font-weight: 500;
    color: #989898;
}

.absoluteBackground {
    background-image: url("../innenOpacity.png");
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    height: 60%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    background-size: cover;
}

#sideScroller {
    overflow: scroll;
    margin: 6rem 0;
    display: none;
}

.sideScrollerRow {
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 5rem;
    margin: 0 auto;
}

.sideScrollerCard {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 20px auto;
    border-radius: 50%;
}


.motdAbsoluteBG {
    position: absolute;
    top: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.5);
    width: 55%;
    height: 100%;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
    z-index: 0;
}

#motdSection {
    margin: 5rem auto 2rem auto;
    display: none;
}

.motdWrapper {
    color: white;
    width: 80%;

    background-image: url("../NextToEachotherHell.png");
    background-image: url("../nextToEachOtherLoWQ.png");
    background-size: cover;
    background-attachment: fixed;

    margin: 0 auto;
    transition: .8s;

    height: 650px;
    position: relative;
    overflow: hidden;
}

.motdWrapper100 {
    width: 100%;
}

.motd {
    //background-image: url("../NextToEachother.png");
    //background-size: cover;
    //background-attachment: fixed;
    //border: solid 2px var(--akzente);
    display: flex;
    gap: 8rem;

    font-family: var(--main-font);
    padding: 3rem;
    margin: 0 auto;

    display: flex;
    justify-content: center;

    //background-color: black;

    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    height: 100%;
    width: 100%;
    max-width: 1400px;

    overflow: hidden;
}

.motdText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    gap: .4rem;
}

.motdText h3 {
    text-align: center;
    font-size: 3.5rem;
    text-align: left;
    width: 300px;
}

.motdText .smallText {
    text-align: left;
    max-width: 500px;
}

.motdMealSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 50%;
}

.motdMeal {
    width: 550px;
}

.motdTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.motdDate {
    color: var(--akzente);
    text-align: center;
}

.motdHeadline {
    width: 100%;
    text-align: center;
}

.motdHeadline h4 {
    font-size: 2.8rem;
}

.motdImage {
    border: solid 2px white;
    width: 80%;
    height: 250px;

    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;

    margin: 15px auto 20px auto;
}

.motdBottom {
    line-height: 1.8rem;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.redBox {
    background-color: red;
    width: 100px;
    height: 100px;

    position: sticky;
    top: 0;

    z-index: 10000;
}
